extends layout
include ../includes/date

block prepend title
  | #{ page.title } | #{''}

block header
  span.title
    a(href='/')= locals.author
  p.description= locals.description

block description
  meta(name='description', content=page.metadata.abstract)

block content
  article
    header
      - title = '<h1>' + page.title + '</h1>'
      | !{identify(title, {anchor: true})}
      if page.metadata.date
        mixin date(page.metadata.date)
    - content = page.html.replace(/&#39;/g, "'").replace(/&quot;/g, '"')
    - content = identify(content, {anchor: true})
    section#content !{typogr.typogrify(content)}
    block comments
