- var permalink = 'comment' + index;

blockquote(id=permalink,
  class="#{comment.metadata.reply ? 'reply' : ''}")
  - var content = marked(comment.markdown)
  - content = typogr.typogrify(content)
  | !{content}
  p
    small
      if comment.metadata.url
        a(href=comment.metadata.url)=comment.metadata.name
      else
        =comment.metadata.name
      | , 
      a(href='\##{permalink}')
        mixin date(comment.metadata.date)
